{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
  	"transform-object-rest-spread",
  	"transform-runtime",
  	["component", [
		    {
		      "libraryName": "element-ui",
		      "styleLibraryName": "theme-default"
		    }
	  	]
	  ],

	 ]
}
