@import "./responsive";
@import './tool';

a,p,ul,li,dd,dt,dl,span,h1,h2,h3,h4,h5,h6,p,div{
  text-decoration: none;
  box-sizing: border-box;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding:0;
  margin:0;
  font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
  list-style-type: none;
  font-weight: normal;
  @include remCalc('font-size',12px)
}

input{
  outline: none;
}

*, *:after, *:before { box-sizing: border-box; }

h1,.h1{
  @include remCalc('font-size',20px);
}
h2,.h2{
  @include remCalc('font-size',18px);
}
h3,.h3{
  @include remCalc('font-size',16px);
}
h4,.h4{
  @include remCalc('font-size',13px);
}
h5,.h5{
  @include remCalc('font-size',12px);
}
.mint-cell{
  @include remCalc('min-height',40px);
}
.el-message{
  @include remCalc('min-width',200px);
}

.blue-border{
  border:1px solid $blue;
  color: $blue;
  @include remCalc('border-radius',1px);
  @include remCalc('padding',2px);
  @include remCalc('font-size',12px)
}
.blue-background{
  background: $blue;
  color: #fff;
  @include remCalc('border-radius',1px);
  @include remCalc('font-size',12px);
  @include remCalc('padding',2px);
}
.green-background{
  background: $green;
  color: #fff;
  @include remCalc('border-radius',1px);
  @include remCalc('font-size',12px);
  @include remCalc('padding',2px);
}

.yellow-background{
  background: $yellow;
  color: #333;
  @include remCalc('border-radius',1px);
  @include remCalc('font-size',12px);
  @include remCalc('padding',2px);
}
.yellow-border{
  border:1px solid $yellow;
  color: $yellow;
  @include remCalc('border-radius',1px);
  @include remCalc('padding',2px);
  @include remCalc('font-size',12px)
}

.text-center{
  text-align: center;
}
.blue{
  color: $blue;
}
.gray{
  color: #666;
}
.lightgray{
  color: #ddd
}
