
$default-font-size: 20px !default;


$rs-1920: "max-width:1920px";
$rs-1600: "max-width:1600px";
$rs-1440: "max-width:1440px";
$rs-1366: "max-width:1366px";
$rs-1280: "max-width:1280px";
$rs-1200: "max-width:1200px";
$rs-1024: "max-width:1024px";
$rs-768: "max-width:768px";
$rs-640: "max-width:640px";
$rs-414: "max-width:414px";
$rs-320: "max-width:320px";

@mixin responsive($breakpoint, $media: all) {

  @media only #{$media} and ($breakpoint) {
    @content;
  }
}


@function strip-unites($number){
  @return $number/($number * 0 + 1);
}

@mixin remCalc($property,$values...){
  $max:length($values);
  $remValues:"";

  @for $i from 1 through $max {
    $value: strip-unites(nth($values,$i));
    $browser-default-font-size:strip-unites($default-font-size);
    $remValue:#{$value / $browser-default-font-size}rem;
    
    @if $i <= $max {
      $remValues:#{$remValues + $remValue + ' '};
    }

  }
  
  #{$property}:$remValues;

}

@mixin remCalc-imp($property,$values...){
  $max:length($values);
  $remValues:"";

  @for $i from 1 through $max {
    $value: strip-unites(nth($values,$i));
    $browser-default-font-size:strip-unites($default-font-size);
    $remValue:#{$value / $browser-default-font-size}rem;
    
    @if $i <= $max {
      $remValues:#{$remValues + $remValue + ' '};
    }

  }
  
  #{$property}:$remValues !important;

}
